<div class = 'form-group row'>
	<label class="col-md-2 control-label" >Requirement</label>
	<div class = 'col-md-6'>
		<p name = "testcaseName" class="form-control">{{ requirement.name }}</p>
	</div>
</div>
<div class = 'form-group row'>
	<label class = 'col-md-2' control-label>Description</label>
	<div class = 'col-md-8'>
		<textarea class="form-control" readonly="true">{{ requirement.description }}</textarea>
	</div>
</div>
<form class="form-horizontal" role="form" action="{{ site_url(['/projectmanage/update', project.p_id]) }}" method="POST">
	<div class="form-group">
		<label class="col-md-2 control-label">審核成員</label>
		<div class = "memberListFrame">
			<div class="form-group">
					<div class="col-md-9 member-list">
						{% for reviewer in is_reviewer %}
							<span id="u_id-{{reviewer.u_id}}">
								<a class="btn btn-default btn-xs">
									<span class="member" data-uId= "{{reviewer.u_id}}" data-uName = "{{reviewer.name}}">{{reviewer.u_id}}, {{reviewer.name}}</span>
									<a class="btn btn-danger btn-xs removeMember" data-uId="{{reviewer.u_id}}">x</a>
								</a>
							</span>
						{% endfor %}
					</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">新增成員</label>
			<div class = "col-md-7">
				<div class="form-group">
					<div class="col-md-7">
						<select class="form-control" id ="newMember" >
							{% for reviewer in not_reviewer %}
								<option id ="opt-{{reviewer.u_id}}" value="{{reviewer.u_id}}">{{reviewer.u_id}}, {{reviewer.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-1">
				<a type="submit" class="btn btn-warning btn-xs" id='Addmember'>＋Add</a>
			</div>
		</div>
	<button type="submit" class="btn btn-primary col-md-offset-10">Update</button>
</form>