{% extends 'layout/layout.html.twig' %}
{% block content %}
<div class = "row form-group">
	<div class="col-md-4">
		<!--	Search Block-->
		<div class="input-group">
			<input class="form-control" id="searchCondition_1" type="text" placeholder="Search" name="search">
			<span class="input-group-btn">
				<div class = 'select-list'>
					<select class="form-control" id="searchCondition_2">
						<option class = "change_opt" value="defult"></option>
					</select>
				</div>
			</span>
			<span class="input-group-btn">  
				<div class ="select-list">
					<select class="form-control" id="searchTarget" >
						<option value="name">By Name</option>
						<option value="functional">By Functional</option>
						<option value="state">By State</option>
						<option value="owner">By Owner</option>
					</select>
				</div>
				<a class="btn-search btn btn-default" type="submit">Search</a>
			</span>
		</div>
	</div>
	<!--	new requirement btn-->
	<div class="col-md-offset-8 col-md-1 pull-right">
		<a href="#" data-url="{{ site_url('/requirementmanage/create') }}" class="btn btn-primary edit-btn" data-toggle="modal" data-target=".edit-modal">＋NEW</a>
	</div>
</div>
<!--	Requirement List	-->
<div class="panel panel-default">
	<div class="panel-heading">Requirement List</div>
	<div class="panel-body">
		<!-- Table -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Level</th>
					<th>Functional</th>
					<th>Description</th>
					<th>State</th>
					<th>Owner</th>
					<th>查看</th>
					<th>Edit</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				{% for key, requirement in requirements %}
					<tr class = 'reqRow' reqId = '{{ requirement.r_id }}' owner = ' {{requirement.owner}} ' functional = '{{ requirement.functional }}' state = '{{ requirement.state }}'>
						<td class = 'seqNumber'>{{ key + 1 }}</td>
						<td>{{ requirement.name }}</td>
						<td>{{ requirement.level}}</td>
						<td>{{ functional_display[requirement.functional] }}</td>
						<td>{{ requirement.description }}</td>
						<td>{{ requirement.state }}</td>
						<td>{{ requirement.ownerName }}</td>
						<td><a data-url="{{ site_url(['/requirementmanage/info',requirement.r_id]) }}" class="btn btn-info btn-xs edit-btn"  data-toggle="modal" data-target=".edit-modal">查看</a></td>
						<td><a data-url="{{ site_url(['/requirementmanage/edit',requirement.r_id]) }}" class="btn btn-primary btn-xs edit-btn"  data-toggle="modal" data-target=".edit-modal">Edit</a></td>
						<td><a data-url="{{ site_url(['/requirementmanage/destroy',requirement.r_id]) }}" class="btn btn-danger btn-xs remove-btn">Remove</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!--	浮框	-->
<div class="modal fade edit-modal" tabindex="-1" role="dialog">
  	<div class="modal-dialog">
    	<div class="modal-content">
         	<div class="modal-header">
           		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			<h3>需求資料</h3>
      		</div>
      		<div class="modal-body" id="modal-body">
        		<p></p>
      		</div>
    	</div>
  	</div>
</div>
<script src = '{{base_url('assets/js/RequirementManage.js')}}'></script>
{% endblock %}