<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site_url('/index') }}">
			 	<span class="glyphicon glyphicon-briefcase"></span>  RMS
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav subsystem">
				<li><a href="{{ site_url('/projectmanage') }}">專案</a></li>
				<li><a href="{{ site_url('/usermanage') }}">會員管理</a></li>
				<li><a href="{{ site_url('/requirementmanage') }}">需求管理</a></li>
				<li><a>TestCase</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if session.userdata.name %}
					<li class="dropdown">
  						<a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
    						{{ session.userdata.name }}
    						<span class="caret"></span>
  						</a>
  						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  							<li><a href="{{ site_url('login/logout') }}">Logout</a></li>
  						</ul>
					</li>
				{% else %}
					<li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
				{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
  	<div class="modal-dialog modal-sm">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Login</h4>
      		</div>
      		<form action="{{ site_url('login/login') }}" method="POST">
    			<div class="modal-body" id="modal-login-body">
					<div class="input-group form-group">
            			<span class="input-group-addon">帳號</span>
            			<input type="text" class="form-control" name = 'email'>
        			</div>
        			<div class="input-group form-group">
            			<span class="input-group-addon" name = 'password'>密碼</span>
            			<input type="password" class="form-control"  name = 'password'>
        			</div>
				</div>
				<div class="modal-footer">
        			<button type="submit" class="btn btn-primary">登入</button>
    			</div>
      		</form>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
	var route = ['/RMS/index.php/projectmanage','/RMS/index.php/usermanage','RMS/index.php/requirementmanage'];
	var index = route.indexOf(window.location.pathname);
	if (index == -1)
	{
		
	}else{
		$('.subsystem > li').eq(index).addClass('active');
	}
</script>
