{% extends 'layout/layout.html.twig' %}
{% block content %}
	<div class="row col-md-12">
		<div class="abs-left">
				<a href="{{ site_url('traceabilitymatrix/notReviewedRequirement')}}" class="btn btn-primary">未審核完成的需求</a>
				<a href="{{ site_url('traceabilitymatrix/singletestcase')}}" class="btn btn-warning">無對應需求的測試</a>
		</div>			
		<h3 class="text-center relative">{{title}}</h3>	
		<div class="abs-right">
				<a href="{{ site_url('traceabilitymatrix/R_T_relation')}}" class="btn btn-success">需求＆Testcase追溯矩陣</a>
				<a href="{{ site_url('traceabilitymatrix/R_R_relation')}}" class="btn btn-info">需求＆需求追溯矩陣</a>
		</div>
	</div>
	<div class="row col-md-12 table-responsive">
		<table class="table traceablity-matrix">
			<tr class="row">
				<th class = "traceablity-cell"></th><!-- [0][0]空白欄位 -->
				{% for row_header in row_headers  %}
					<th class = "traceablity-cell traceablity-header" data-url="{{ site_url([controllerName.one,row_header.id]) }}" data-toggle="modal" data-target=".edit-modal">{{row_header.name}}</th>
				{% endfor %}
			{% for col_header in col_headers %}
				<tr class ="row">
					<th class = "traceablity-cell traceablity-header" data-url="{{site_url([controllerName.two,col_header.id]) }}" data-toggle="modal" data-target=".edit-modal">{{col_header.name}}</th>
					{% for relaion in col_header.relations %}
						<th  class ="traceablity-cell" >{{relaion}}</th>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>

	<!--	浮框	-->
	<div class="modal fade edit-modal" tabindex="-1" role="dialog">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	         	<div class="modal-header">
	           		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      			<h3>詳細資料</h3>
	      		</div>
	      		<div class="modal-body" id="modal-body">
	        		<p></p>
	      		</div>
	    	</div>
	  	</div>
	</div>	
	<script src = '{{base_url('assets/js/traceability.js')}}'></script>
{% endblock %}