
<form class="form-horizontal" role="form" action="{{ site_url(['/projectmanage/update', project.p_id]) }}" method="POST">
	<div class="form-group">
		<label class="col-md-2 control-label">Name</label>
		<div class="col-md-3">
			<input type="text" class="form-control" name="name" value="{{ (validation_errors()) ? set_value('name') : project.name }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Description</label>
		<div class="col-md-8">
			<textarea type="text" class="form-control" name="description">{{ project.description }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">成員列表</label>
		<div class = "memberListFrame">
			<div class="form-group">
					<div class="col-md-9 member-list">
						{% for user in memberUser %}
							<span id="u_id-{{user.uID}}">
								{% if (user.uID == project.leader) %}
									<a class="btn  btn-primary btn-xs">
										<span class="owner" data-uId= "{{user.uID}}" data-uName = "{{user.userName}}" data-priority="{{user.projectPriority}}">{{user.uID}}, {{user.userName}}</span>
									</a>
								{% elseif (user.projectPriority == 2) %}
									<a class="btn  btn-success btn-xs" id="a-uid-{{user.uID}}">
										<span class="member" data-priority="{{user.projectPriority}}" data-uId= "{{user.uID}}" data-uName = "{{user.userName}}" id="btnu_id-{{user.uID}}">{{user.uID}}, {{user.userName}}</span>
										{% if (user.uID != project.leader) %}
										<a class="btn btn-danger btn-xs removeMember" data-uId="{{user.uID}}">x</a>
										{% endif %}
									</a>
								{% elseif (user.projectPriority == 1) %}
									<a class="btn  btn-info btn-xs" id="a-uid-{{user.uID}}">
									<span class="member" data-priority="{{user.projectPriority}}" data-uId= "{{user.uID}}" data-uName = "{{user.userName}}" id="btnu_id-{{user.uID}}">{{user.uID}}, {{user.userName}}</span>
									<a class="btn btn-danger btn-xs removeMember" data-uId="{{user.uID}}">x</a>
									</a>
								{% else %}
									<a class="btn  btn-default btn-xs" data-priority="{{user.projectPriority}}" id="a-uid-{{user.uID}}">
									<span class="member" data-priority="{{user.projectPriority}}" data-uId= "{{user.uID}}" data-uName = "{{user.userName}}" id="btnu_id-{{user.uID}}">{{user.uID}}, {{user.userName}}</span>
									<a class="btn btn-danger btn-xs removeMember" data-uId="{{user.uID}}">x</a>
									</a>
								{% endif %}
							</span>
						{% endfor %}
					</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">新增成員</label>
			<div class = "col-md-7">
				<div class="form-group">
					<div class="col-md-7">
						<select class="form-control" id ="newMember" >
							{% for user in notMemberUser %}
								<option id ="opt-{{user.uID}}" value="{{user.uID}}">{{user.uID}}, {{user.userName}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-5">
						<select class="form-control" id ="priority" >
							<option value="0">客戶</option>
							<option value="1">開發人員</option>
							<option value="2">專案管理者</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-1">
				<a type="submit" class="btn btn-warning btn-xs" id='Addmember'>＋Add</a>
			</div>
		</div>
	<button type="submit" class="btn btn-primary col-md-offset-10">Update</button>
</form>
<script> var p_id = {{ project.p_id }} </script>
