
<form class="form-horizontal" role="form" action="{{ site_url(['/projectmanage/update', project.p_id]) }}" method="POST">
	<div class="form-group">
		<label class="col-md-2 control-label">Name</label>
		<div class="col-md-3">
			<input type="text" class="form-control" name="name" value="{{ (validation_errors()) ? set_value('name') : project.name }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Description</label>
		<div class="col-md-8">
			<textarea type="text" class="form-control" name="description">{{ project.description }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">成員列表</label>
		<div class = "memberListFrame">
			<div class="form-group">
					<div class="col-md-9 member-list">
						{% for user in memberUser %}
							<span id="u_id-{{user.u_id}}">
								<a class="btn {{ (user.u_id == project.leader)? 'btn-primary' : 'btn-default' }} btn-xs">
									<span class="member" data-uId= "{{user.u_id}}" data-uName = "{{user.name}}">{{user.u_id}}, {{user.name}}</span>
									{% if user.u_id != project.leader %}
										<a class="btn btn-danger btn-xs removeMember" data-uId="{{user.u_id}}">x</a>
									{% endif %}
								</a>
							</span>
						{% endfor %}
					</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">新增成員</label>
			<div class = "col-md-7">
				<div class="form-group">
					<div class="col-md-7">
						<select class="form-control" id ="newMember" >
							{% for user in notMemberUser %}
								<option id ="opt-{{user.u_id}}" value="{{user.u_id}}">{{user.u_id}}, {{user.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-5">
						<select class="form-control" id ="priority" >
							<option value="0">客戶</option>
							<option value="1">開發人員</option>
							<option value="2">專案管理者</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-1">
				<a type="submit" class="btn btn-warning btn-xs" id='Addmember'>＋Add</a>
			</div>
		</div>
	<button type="submit" class="btn btn-primary col-md-offset-10">Update</button>
</form>
<script> var p_id = {{ project.p_id }} </script>
