
<form class="form-horizontal" role="form" action="{{ site_url(['/projectmanage/update', project.p_id]) }}" method="POST">
	<div class="form-group">
		<label class="col-md-2 control-label">Name</label>
		<div class="col-md-3">
			<input type="text" class="form-control" name="name" value="{{ (validation_errors()) ? set_value('name') : project.name }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Description</label>
		<div class="col-md-3">
			<input type="text" class="form-control" name="description" value="{{ (validation_errors()) ? set_value('description') : project.description }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">成員列表</label>
	</div>
	<div class = "memberListFrame">
		<div class="form-group">
				<div class="col-md-3">
						{% for user in notMemberUser %}
							<p class = "projectMemberList" >{{user.name}}</p>
							<a href="{{ site_url(['/projectMember/create',user.u_id]) }}" class="btn btn-danger btn-xs">＋Add</a>
				</td>	
						{% endfor %}
				</div>
		</div>
	</div>
	<div class = "memberListFrame">
		<div class="form-group">
				<div class="col-md-3">
						{% for user in MemberUser %}
							<p class = "projectMemberList" >{{user.name}}</p>
						{% endfor %}
				</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary col-md-offset-10">Update</button>
</form>
<script type="text/javascript">
	

</script>