
<form class="form-horizontal" role="form" action="{{ site_url(['/projectmanage/update', project.p_id]) }}" method="POST">
	<div class="form-group">
		<label class="col-md-2 control-label">Name</label>
		<div class="col-md-3">
			<input type="text" class="form-control" name="name" value="{{ (validation_errors()) ? set_value('name') : project.name }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Description</label>
		<div class="col-md-3">
			<input type="text" class="form-control" name="description" value="{{ (validation_errors()) ? set_value('description') : project.description }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">成員列表</label>
		<div class = "memberListFrame">
			<div class="form-group">
					<div class="col-md-3">
							{% for user in memberUser %}
								<p class = "projectMemberList" >
									{{user.name}}
									<a href="{{ site_url(['/projectmanage/removeMember',user.u_id,project.p_id]) }}" class="btn btn-danger btn-xs">－Remove</a>
								</p>
							{% endfor %}
					</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">新增成員</label>
		<div class = "memberListFrame">
			<div class="form-group">
				<div class="col-md-3">
						{% for user in notMemberUser %}
							<p class = "projectMemberList" >
								{{user.name}}
								<a href="{{ site_url(['/projectmanage/addMember',user.u_id,project.p_id]) }}" class="btn btn-danger btn-xs edit-btn">＋Add</a>
							</p>
						{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary col-md-offset-10">Update</button>
</form>
