{% extends 'layout/layout.html.twig' %}
{% block content %}
	<div class="row form-group">
		<div class="col-md-3">
			<form class="form" role="search" action="" method="get" >
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="search">
					<span class="input-group-btn">
					    <button class="btn btn-default" type="submit">Search</button>
					</span>
				</div>
			</form>
		</div>
		<div class="col-md-offset-8 col-md-1 pull-right">
			<a href="#" data-url="{{ site_url('/projectmanage/create') }}" class="btn btn-primary edit-btn" data-toggle="modal" data-target=".edit-modal">＋NEW</a>
		</div>
	</div>
		<div class = "row">
		{% for key,project in projects %}
			<div class="col-md-3 relative">
				<div class="projectBlock caption project" data-container="body" data-toggle="popover" data-placement="bottom" data-content="" data-proID="{{project.p_id}}" id = "pro-{{project.p_id}}">
					<h4 class="text-center projectName">{{ project.name }}</h4>
					<label>管理者: {{project.leaderName}}</label>
					<br />
					<label>描述:</label>
					<p class="projectDescript">{{ project.description }}</p>
					<div class="abs-bottom-right">
						<a href="{{ site_url(['/requirementmanage/intoProject']) }}" class="btn btn-success btn-xs">進入project</a>
						{% if (session.userdata('u_id') == project.leader) %}
							<a data-url="{{ site_url(['/projectmanage/edit', project.p_id]) }}" class="btn btn-info btn-xs edit-btn" data-toggle="modal" data-target=".edit-modal">Edit</a>
							<a href="{{ site_url(['/projectmanage/destory', project.p_id]) }}" class="btn btn-danger btn-xs remove-btn">Remove</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>		

<div class="modal fade edit-modal" tabindex="-1" role="dialog">  <!-- 浮筐  -->
  	<div class="modal-dialog">
    	<div class="modal-content">
         	<div class="modal-header">
           		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			<h3>專案資料</h3>
      		</div>
      		<div class="modal-body" id="modal-body">
        		<p></p>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src = '{{base_url('assets/js/ProjectManage.js')}}'></script>
{% endblock %}
