{% extends 'layout/layout.html.twig' %}
{% block content %}
	<div class="row form-group">
		<div class="col-md-3">
			<form class="form" role="search" action="" method="get" >
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="search">
					<span class="input-group-btn">
					    <button class="btn btn-default" type="submit">Search</button>
					</span>
				</div>
			</form>
		</div>
		<div class="col-md-offset-10">
			<a href="#" data-url="{{ site_url('/projectmanage/create') }}" class="btn btn-primary edit-btn" data-toggle="modal" data-target=".edit-modal">＋NEW</a>
		</div>
	</div>
	<div class = "col-md-12">
		{% for key,project in projects %}
			{% if key % 4 == 0 %}
				<div class ="row form-group">
			{% endif %}
					<div class = "col-md-2 col-md-offset-1 projectBlock">
						<div class = "row">專案名稱:{{ project.name }}</div>
						<div class = "row">專案描述:</div>
						<div class = "row">	
							<div class ="projectInfo">{{ project.description }}</div>
						</div>
						<div class = "row">
							<a href="#" data-url="{{ site_url(['/projectmanage/edit', project.p_id]) }}" class="btn btn-info btn-xs edit-btn" data-toggle="modal" data-target=".edit-modal">Edit</a>
							<a href="{{ site_url(['/projectmanage/destory', project.p_id]) }}" class="btn btn-danger btn-xs">Remove</a>
						</div>								
					</div>
			{% if key % 4 == 3 %}
				</div>
			{% endif %}				
		{% endfor %}				
	</div>		

<div class="modal fade edit-modal" tabindex="-1" role="dialog">  <!-- 浮筐  -->
  	<div class="modal-dialog">
    	<div class="modal-content">
         	<div class="modal-header">
           		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			<h3>專案資料</h3>
      		</div>
      		<div class="modal-body" id="modal-body">
        		<p></p>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
	$(function (){
		$(".edit-btn").click(function(event) {
			$.ajax({
				url: $(this).data('url'),
				type: 'get',
				success:function (response){
					$('#modal-body').html(response);
				}
			})
		});
	});
</script>
<script src= "{{ base_url('assets/js/projectBlock.js')}}"></script>
{% endblock %}