{% extends 'layout/layout.html.twig' %}
{% block content %}
	<div class="row form-group">
		<div class="col-md-4">
			<div class="input-group">
				<input id="searchCondition" type="text" class="form-control" placeholder="Search" name="search">
				<span class="input-group-btn " >					   
					<div class ="select-list">
						<select class="form-control" id="searchTarget" >
							<option value="name">By Name</option>
							<option value="owner">By Owner</option>
						</select>
					</div>
					 <a class="btn-search btn btn-default" type="submit">Search</a>
				</span>
			</div>
		</div>
		<div  class="col-md-offset-8 col-md-1 pull-right" >
			<a href="#" data-url="{{ site_url('/testcasemanage/create') }}" class="btn btn-primary edit-btn" data-toggle="modal" data-target=".edit-modal">＋NEW</a>
		</div>
	</div>
	<div class="row col-md-10 col-md-offset-1 table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th class="col-md-4">Description</th>
					<th>Owner</th>
					<th>查看</th>
					<th>Edit</th>
					<th>Remove</th>
			</thead>
			<tbody>
			{% for key,testcase in testcases %}
				<tr class="testcaseRow" testcaseID="{{testcase.t_id}}" owner="{{testcase.owner}}">
					<td class="seqNumber">{{key+1}}</td>
					<td>{{ testcase.name }}</td>
					<td>{{ testcase.description }}</td>
					<td>{{ testcase.ownerName }}</td>
					<td><a data-url="{{ site_url(['/testcasemanage/show',testcase.t_id]) }}" class="btn btn-info btn-xs edit-btn"  data-toggle="modal" data-target=".edit-modal">查看</a></td>
					<td><a data-url="{{ site_url(['/testcasemanage/edit',testcase.t_id]) }}" class="btn btn-primary btn-xs edit-btn"  data-toggle="modal" data-target=".edit-modal">Edit</a></td>
					<td><a data-url="{{ site_url(['/testcasemanage/destroy',testcase.t_id]) }}" class="btn btn-danger btn-xs remove-btn">Remove</a></td>					
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="modal fade edit-modal" tabindex="-1" role="dialog">  <!-- 浮筐  -->
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	         	<div class="modal-header">
	           		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      			<h3>TestCase</h3>
	      		</div>
	      		<div class="modal-body" id="modal-body">
	        		<p></p>
	      		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
	<script src = '{{base_url('assets/js/TestcaseManage.js')}}'></script>
{% endblock %}