{% extends 'layout/layout.html.twig' %}
{% block content %}
	
	<div class="row form-group">
		<div class = "col-md-4">
			<form class ="form-horizontal" role="form" action="{{ site_url('relation/searchReqRel') }}" method="get">
				<div class="form-group">
					<label class="control-label col-md-3">需求：</label>
					<div class = "col-md-6">
						<select name="sel_req" id ="sel_req" class="form-control">
							<option value="">--搜尋需求--</option>
							{% for key,requirement in requirements %}
								<option value="{{ requirement.r_id }}" id="req-{{requirement.r_id}}">{{requirement.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class = "col-md-1">
						<button type="submit" class="btn btn-default">搜尋</button>
					</div>
				</div>
			</form>
		</div>
		<div class = "col-md-4">
			<form class ="form-horizontal" role="form" action="{{ site_url('relation/searchTestRel') }}" method="get">
				<div class="form-group">
					<label class="control-label col-md-3">TestCase：</label>
					<div class = "col-md-6">
						<select name="sel_test" id ="sel_test" class="form-control">
							<option value="">--搜尋TestCase--</option>
							{% for key,testcase in testcases %}
								<option value="{{testcase.t_id}}" id="test-{{testcase.t_id}}">{{testcase.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class = "col-md-1">
						<button type="submit" class="btn btn-default">搜尋</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<form role="form" action="{{ site_url('relation/delReqRelation') }}" method="get">
		<input value="{{req}}" id ="dataReq" name="r_id">
		<input value="{{test}}" id ="dataTest" name="t_id">
		<div class="row form-group">
			<div class = "col-md-6">
			</div>
			<div class="col-md-12">
				<h3 class="text-center relative">
				需求與TestCase關聯刪除
				<div class="abs-right">
					<a href="{{ site_url('relation/reqAndReqPqge') }}" class="btn btn-info">需求＆需求</a>
					<a href="{{site_url('/relation')}}" class="btn btn-success">需求＆TestCase</a>
				</div>

				</h3>
			</div>
		</div>
	
		<div class="row form-group">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 rel-btn">
						<h4 class="text-center">相關連需求列表</h4>
						<select name="requirement_form[]" id="requirement" class="form-control" size="20" multiple="multiple">
							{% for key,relReq in relReqs %}	
								<option value="{{relReq.r_id}}">{{relReq.name}}</option>
							{% endfor %}					
						</select>
					</div>

					<div class="col-md-2">
						<br /></br />
						<button type="button" id="requirement_undo" class="btn btn-primary btn-block">上一步</button>
						<button type="button" id="requirement_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
						<button type="button" id="requirement_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
						<button type="button" id="requirement_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
						<button type="button" id="requirement_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
						<button type="button" id="requirement_redo" class="btn btn-warning btn-block">下一步</button>
					</div>
					
					<div class="col-md-5">
						<h4 class="text-center">要刪除關聯的需求</h4>
						<select name="requirement_to[]" id="requirement_to" class="form-control" size="20" multiple="multiple">
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5">
						<h4 class="text-center">要刪除關聯的TestCase</h4>
						<select name="test_to[]" id="test_to" class="form-control" size="20" multiple="multiple"></select>
					</div>
				
					<div class="col-md-2 rel-btn">
						<br /><br />
						<button type="button" id="test_undo" class="btn btn-primary btn-block">上一步</button>
						<button type="button" id="test_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
						<button type="button" id="test_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
						<button type="button" id="test_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
						<button type="button" id="test_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
						<button type="button" id="test_redo" class="btn btn-warning btn-block">下一步</button>
					</div>
				
					<div class="col-md-5">
						<h4 class="text-center">相關連TestCase列表</h4>
						<select name="test_from[]" id="test" class="form-control" size="20" multiple="multiple">
							{% for key,relTest in relTests %}
								<option value="{{ relTest.t_id }}" >{{ relTest.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="text-center">
				<button type ="submit" class="btn btn-danger">確認刪除</button>
			</div>
		</div> 
	</form>
	
{% endblock %}
{% block script %}
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('#test').multiselect({
			beforeMoveToRight: function ($left, $right, $options) {
				var dfd = jQuery.Deferred();
				dfd.resolve(true);
				return dfd.promise();
			}
		});

		$('#requirement').multiselect({
			beforeMoveToRight: function ($left, $right, $options) {
				var dfd = jQuery.Deferred();
				dfd.resolve(true);
				return dfd.promise();
			}
		});

		$('#req-{{req}}').attr('selected','selected');
		$('#test-{{test}}').attr('selected','selected');
		$('#dataReq').hide();
		$('#dataTest').hide();
	});
</script>

{% endblock %}